NODE_ENV=""
CLIENT_URL=""
PORT=""
MONGO_DB_CONNECT=""
JWT_SECRET=""
JWT_EXPIRES_IN=""

# Email config
EMAIL_USERNAME=""
EMAIL_PORT=""
EMAIL_HOST=""
EMAIL_PASSWORD=""
EMAIL_FROM=""

# AWS S3
AWS_BUCKET_NAME=""
AWS_BUCKET_REGION=""
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""

# AWS SQS 
AWS_SQS_REGION=""
AWS_SQS_QUEUE_URL=""
